*{
    margin: 0; padding: 0; box-sizing: border-box;
    background-color: rgb(49, 49, 48);
}
section{
    width: 40%;
    margin: 50px auto;
    border:1px solid white;
    color: white;
    display: grid;
    grid-template-rows: 130px 50px 50px 70px ;
    grid-template-columns: 160px 170px 200px;
    grid-gap: 5px;
}
.green{
    background-color:rgb(42, 151, 42);
    grid-column: 1/3;
}
.blue{
    background-color:blue;
    grid-row: 1/-1;
    grid-column: 3/4;
}
.pink{
    background-color: pink;
}
.aqua{
    background-color:aqua;
    grid-row: 3/4;
}
.grey{
    background-color: grey;
    grid-row: 2/4;
}
.salmon{
    background-color: salmon;
    grid-row: 4/5;
    grid-column: 1/3;
}